html {
  box-sizing: border-box;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 500px;
  min-width: 500px;
  max-width: 500px;
}

.row {
  display: flex;
  flex-direction: row;
  flex: 1 0 1px;
}

.item {
  background-color: grey;
  display: flex;
  flex: 1 0 1px;
}

.hover {
  background-color: black;
}

.centered {
  text-align: center;
  margin: 20px 0;
}